.btn {
  @include button-text;

  border-radius: 80px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: transparent;
  }

  &-full {
    width: 100%;
  }

  &-dark {
    background-color: $color_black;
    border: 1px solid $color_black;
    
    &:hover a {
      color: $color_black;

      &::after {
        content: '\f061';
        color: $color_black;
        font: var(--fa-font-solid);
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
    }
    
    a {
      align-items: center;
      color: $color_white;
      display: flex;
      text-decoration: none;

      &::after {
        content: '\f061';
        color: $color_white;
        display: inline-block;
        font: var(--fa-font-solid);
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }

      &:hover::after {
        color: $color_black;
      }
    }
  }

  &-secondary {
    background-color: $color_secondary;
    border: 1px solid $color_secondary;

    &:hover {
      border: 1px solid $color_white;

      a {
        color: $color_white;

        &::after {
          content: '\f061';
          color: $color_white;
          display: inline-block;
          font: var(--fa-font-solid);
          font-size: 0.75rem;
          margin-left: 0.5rem;
        }
      }
    }

    a {
      align-items: center;
      color: $color_black;
      display: flex;
      text-decoration: none;

      &::after {
        content: '\f061';
        color: $color_black;
        display: inline-block;
        font: var(--fa-font-solid);
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
    }
  }
}