# Themes
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentyfour

# Plugins
/wp-content/plugins

# DS_Store
.DS_Store
**/.DS_Store

# node_modules
node_modules

# uploads
wp-content/uploads