*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color_primary-pale;
  color: $color_black;
}

h1,
h2 {
  @include section-heading;
}

h2.brand-block-heading {
  @include brand-block-heading;
}

p {
  @include body-text;
}

button {
  @include button-text;
}

.content-section {
  margin: 4.5rem 2rem 7rem 2rem;
  position: relative;
}

.content-container {
  margin: 0 auto;
  max-width: $main-content-container;
  position: relative;
}

.subpage-hero-image {
  min-height: 50vh;

  @include screen-sm {
    min-height: 100vh;
  }

  @include screen-md {
    min-height: 75vh;
  }
}