// Google Fonts imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600;700;800&display=swap');

@mixin body-text {
  font-family: $font_primary;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
}

@mixin section-heading {
  font-family: $font_primary;
  font-size: clamp(2rem, 0.235rem + 4.706vw, 4rem);
  font-weight: 500;
  line-height: clamp(2.5rem, 0.735rem + 4.706vw, 4.5rem);
  margin-bottom: clamp(1rem, -0.765rem + 4.706vw, 3rem);
}

@mixin brand-block-heading {
  font-family: $font_primary;
  font-size: clamp(1.75rem, 0.647rem + 2.941vw, 3rem);
  font-weight: 500;
  line-height: clamp(2rem, 0.897rem + 2.941vw, 3.25rem);
  margin-bottom: clamp(1rem, 0.118rem + 2.353vw, 2rem);
}

@mixin subheading {
  font-family: $font_primary;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
  font-weight: 500;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
}

@mixin testimonial-heading {
  font-family: $font-secondary;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.5rem);
  font-weight: 600;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
}

@mixin button-text {
  font-family: $font_secondary;
  font-weight: 400;
}

@mixin nav-menu-text {
  color: $color_white;
  font-family: $font_primary;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
}

@mixin footer-text {
  color: $color_white;
  font-family: $font_primary;
  font-size: 0.875rem;
  font-weight: 200;
  letter-spacing: 0.75px;
}