// Google Fonts imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600;700;800&display=swap');

@mixin body-text {
  font-family: $font_primary;
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
}

@mixin section-heading {
  font-family: $font_primary;
  font-size: clamp(2rem, 0.235rem + 4.706vw, 4rem);
  font-weight: 500;
  line-height: clamp(2.5rem, 1.838rem + 1.765vw, 3.25rem);
  margin-bottom: clamp(1rem, 0.118rem + 2.353vw, 2rem);
}

@mixin button-text {
  font-family: $font_secondary;
  font-weight: 300;
  letter-spacing: 0.5px;
}