// Colors
$color_black: #312e2b;
$color_white: #f2f2f2;
$color_charcoal: #4d4d4d;
$color_primary: #f28706;
$color_primary-dark: #f27406;
$color_primary-light: #f1e4d3;
$color_primary-pale: #f2ece5;
$color_secondary: #f2b703;
$color_secondary-dark: #f29f04;
$color_dark-opacity-overlay: rgba(49, 46, 43, 0.75);

// Font families
$font_primary: 'Poppins', sans-serif;
$font_secondary: 'Montserrat', sans-serif;

// Breakpoints
$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 568px;

// Containers
$main-content-container: 1240px;

// Image border radius
$border-radius: 0.75rem;