.company-overview-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 2rem;

  @include screen-sm {
    gap: 5rem;
  }

  @include screen-md {
    gap: 1.5rem;
  }

  @include screen-lg {
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
  }

  .company-overview-body {
    .company-overview-text {
      @include body-text;
    }
  }

  .company-overview-image {
    img {
      border-radius: $border-radius;
      object-fit: cover;
      width: 100%;
    }
  }
}

.testimonials-section-dark {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .testimonials-dark-overlay {
    background-color: $color_dark-opacity-overlay;
    backdrop-filter: blur(10px);
    padding: 5rem;
    position: relative;
    z-index: 50;
  }

  .content-section-flush {
    margin: 0;

    .testimonials-heading-light {
      color: $color_white;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}