// Hero slider
.img-slide {
  height: 50vh;

  @include screen-md {
    height: 100vh;
  }

  @include screen-lg {
    height: 75vh;
  }
}

// Missions statement body text
.mission-statement {
  margin-bottom: 2rem;
}

// Featured projects
.featured-projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;

  @include screen-sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .featured-project {
    .thumbnail-image-container {
      cursor: pointer;
      margin-bottom: 1.5rem;
      transition: all 150ms ease-in-out;
      width: 100%;

      &:hover {
        transform: scale($image-hover);
      }

      &:active {
        transform: scale($image-press);
      }
      
      img {
        border-radius: $border-radius;
        object-fit: cover;
        width: 100%;
      }
    }
    
    h3 {
      @include subheading;

      margin-bottom: 0.5rem;
    }

    p {
      @include body-text;

      margin-bottom: 2rem;
    }
  }
}