// Hero slider
.img-slide {
  height: 50vh;

  @include screen-md {
    height: 100vh;
  }

  @include screen-lg {
    height: 75vh;
  }
}

// Missions statement body text
.mission-statement {
  margin-bottom: 2rem;
}