@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2ece5;
  color: #312e2b;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 0.235rem + 4.706vw, 4rem);
  font-weight: 500;
  line-height: clamp(2.5rem, 1.838rem + 1.765vw, 3.25rem);
  margin-bottom: clamp(1rem, -0.765rem + 4.706vw, 3rem);
}

h2.brand-block-heading {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.75rem, 0.647rem + 2.941vw, 3rem);
  font-weight: 500;
  line-height: clamp(2rem, 0.897rem + 2.941vw, 3.25rem);
  margin-bottom: clamp(1rem, 0.118rem + 2.353vw, 2rem);
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.content-section {
  margin: 4.5rem 2rem 7rem 2rem;
  position: relative;
}

.content-container {
  margin: 0 auto;
  max-width: 1240px;
  position: relative;
}

.subpage-hero-image {
  min-height: 50vh;
}
@media (min-width: 568px) {
  .subpage-hero-image {
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .subpage-hero-image {
    min-height: 75vh;
  }
}

footer {
  background-color: #312e2b;
  padding-bottom: clamp(5rem, 3.235rem + 4.706vw, 7rem);
  padding-left: clamp(1.5rem, 1.059rem + 1.176vw, 2rem);
  padding-right: clamp(1.5rem, 1.059rem + 1.176vw, 2rem);
  padding-top: clamp(2rem, -0.647rem + 7.059vw, 5rem);
}
footer .footer-grid {
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  letter-spacing: 0.75px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}
@media (min-width: 568px) {
  footer .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  footer .footer-grid {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
footer .footer-grid .footer-cell {
  text-align: center;
}
@media (min-width: 568px) {
  footer .footer-grid .footer-cell {
    text-align: left;
  }
}
footer .footer-grid .footer-cell h4 {
  color: #f2b703;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
footer .footer-grid .footer-cell .footer-nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  list-style: none;
  text-transform: uppercase;
}
footer .footer-grid .footer-cell .footer-nav-items a {
  color: #f2f2f2;
  text-decoration: none;
  transition: all 100ms ease-in;
}
footer .footer-grid .footer-cell .footer-nav-items a:hover {
  color: #f2b703;
}
footer .footer-grid .footer-cell .footer-nav-items .contact-icon {
  display: none;
  margin-right: 0.25rem;
}
@media (min-width: 568px) {
  footer .footer-grid .footer-cell .footer-nav-items .contact-icon {
    display: inline-block;
  }
}
footer .footer-grid .footer-cell .social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
}
@media (min-width: 568px) {
  footer .footer-grid .footer-cell .social-icons {
    justify-content: flex-start;
  }
}
footer .footer-grid .footer-cell .social-icons a {
  color: #f2f2f2;
}
footer .footer-grid .footer-cell .social-icons a:hover {
  color: #f2b703;
}

header {
  height: clamp(3.75rem, 3.419rem + 0.882vw, 4.125rem);
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}
header .navbar {
  align-items: center;
  background: #f27406;
  background: linear-gradient(90deg, #f27406 0%, #f29f04 70%, #f2b703 100%);
  display: flex;
  height: 100%;
  position: relative;
  z-index: 200;
}
header .navbar .menu-container {
  align-items: center;
  background-color: #312e2b;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: clamp(4.688rem, 2.206rem + 6.618vw, 7.5rem);
}
header .navbar .menu-container .menu-icon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header .navbar .menu-container .menu-icon .menu-bar {
  background-color: #f2f2f2;
  border-radius: 2px;
  height: 2px;
}
header .navbar .menu-container .menu-icon .menu-bar-top {
  width: 40px;
}
header .navbar .menu-container .menu-icon .menu-bar-bottom {
  width: 30px;
}
header .navbar .logo-container {
  padding-left: 1.25rem;
  width: clamp(11rem, 8.897rem + 2.941vw, 14.25rem);
}
header .navbar .logo-container img {
  object-fit: contain;
  width: 100%;
}

.nav-drawer {
  background-color: #312e2b;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  min-height: 100vh;
  opacity: 0;
  overflow: auto;
  padding-top: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
@media (min-width: 568px) {
  .nav-drawer {
    width: 20rem;
  }
}
@media (min-width: 1024px) {
  .nav-drawer {
    width: 25rem;
  }
}
.nav-drawer .nav-links-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6.25rem;
}
.nav-drawer .nav-links-container ul li {
  margin-top: 0.5rem;
  padding: 1rem 0 1rem 2.3rem;
  transition: all 100ms ease-out;
}
.nav-drawer .nav-links-container ul li:hover {
  background-color: #4d4d4d;
}
.nav-drawer .nav-links-container ul li:hover a {
  color: #f29f04;
  position: relative;
}
.nav-drawer .nav-links-container ul li:hover a::before {
  content: "\f054";
  color: #f29f04;
  font: var(--fa-font-solid);
  font-size: 1.75rem;
  margin-right: 0.5rem;
}
.nav-drawer .nav-links-container ul li a {
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
}
.nav-drawer .nav-info-container {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
  color: #f2f2f2;
  padding: 0 2.3rem 2.25rem 2.3rem;
}
.nav-drawer .nav-info-container p {
  margin-bottom: 2.25rem;
}
.nav-drawer .nav-info-container p span {
  font-weight: 600;
}
.nav-drawer .nav-info-container .nav-icons-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: 3rem;
}
.nav-drawer .nav-info-container .nav-icons-container a {
  color: #f2f2f2;
  transition: all 100ms ease-in;
}
.nav-drawer .nav-info-container .nav-icons-container a:hover {
  color: #f2b703;
}

.opacity-overlay {
  background-color: rgba(49, 46, 43, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}

.brand-block-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative;
}
@media (min-width: 768px) {
  .brand-block-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.brand-block-section .blueprint-bg {
  background-image: url("/wp-content/themes/donaldson-consruction/assets/images/blueprint-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  position: relative;
}
@media (min-width: 568px) {
  .brand-block-section .blueprint-bg {
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .brand-block-section .blueprint-bg {
    min-height: 60vh;
  }
}
.brand-block-section .blueprint-bg .overlay {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
.brand-block-section .blueprint-bg .overlay-primary {
  background-color: rgba(242, 135, 6, 0.88);
}
.brand-block-section .blueprint-bg .overlay-secondary {
  background-color: rgba(242, 183, 3, 0.88);
}
.brand-block-section .blueprint-bg .overlay h2 {
  margin-bottom: 0;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 100;
}
@media (min-width: 568px) {
  .brand-block-section .blueprint-bg .overlay h2 {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .brand-block-section .blueprint-bg .overlay h2 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .brand-block-section .blueprint-bg .overlay h2 {
    width: 60%;
  }
}
.brand-block-section .brand-image {
  min-height: 50vh;
}
@media (min-width: 568px) {
  .brand-block-section .brand-image {
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .brand-block-section .brand-image {
    min-height: 60vh;
  }
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-radius: 80px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background-color: transparent;
}
.btn-full {
  width: 100%;
}
.btn-dark {
  background-color: #312e2b;
  border: 1px solid #312e2b;
  color: #f2f2f2;
}
.btn-dark:hover {
  color: #312e2b;
}
.btn-secondary {
  background-color: #f2b703;
  border: 1px solid #f2b703;
  color: #312e2b;
}
.btn-secondary:hover {
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.help-block-wide {
  display: none;
  position: relative;
}
@media (min-width: 568px) {
  .help-block-wide {
    display: block;
  }
}
.help-block-wide .bg-image {
  height: 28rem;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
}
@media (min-width: 768px) {
  .help-block-wide .bg-image {
    height: 35rem;
  }
}
.help-block-wide .bg-image .bg-blur {
  backdrop-filter: blur(6px);
}
.help-block-wide .grid-overlay {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}
.help-block-wide .grid-overlay .bg-charcoal {
  align-items: center;
  background-color: rgba(49, 46, 43, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.help-block-wide .grid-overlay .bg-charcoal .help-content {
  min-width: 50%;
  max-width: 375px;
}
@media (min-width: 568px) {
  .help-block-wide .grid-overlay .bg-charcoal .help-content {
    max-width: 250px;
  }
}
@media (min-width: 768px) {
  .help-block-wide .grid-overlay .bg-charcoal .help-content {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .help-block-wide .grid-overlay .bg-charcoal .help-content {
    max-width: 420px;
  }
}
.help-block-wide .grid-overlay .bg-charcoal .help-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
  font-weight: 500;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
  color: #f2f2f2;
  margin-bottom: 0.75rem;
}
.help-block-wide .grid-overlay .bg-charcoal .help-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
  color: #f2f2f2;
  margin-bottom: 2rem;
}
.help-block-wide .grid-overlay .bg-orange {
  background-color: rgba(242, 116, 6, 0.75);
}

.help-block-tall {
  position: relative;
}
@media (min-width: 568px) {
  .help-block-tall {
    display: none;
  }
}
.help-block-tall .bg-image-tall {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.help-block-tall .bg-image-tall-overlay {
  background-color: rgba(77, 77, 77, 0.9);
}
.help-block-tall .bg-image-tall-blur {
  backdrop-filter: blur(3px);
}
.help-block-tall .bg-image-tall-content {
  padding: 5rem 2rem;
}
.help-block-tall .bg-image-tall-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
  font-weight: 500;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
  color: #f2f2f2;
  margin-bottom: 0.75rem;
}
.help-block-tall .bg-image-tall-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
  color: #f2f2f2;
  margin-bottom: 2rem;
}
.help-block-tall .bg-image-tall-content a {
  text-align: center;
  width: 100%;
}

.testimonials-slider.slick-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials-slider.slick-slider .testimonial-slide {
  background-color: #f1e4d3;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 36rem;
  justify-content: center;
  padding: 2rem;
}
@media (min-width: 768px) {
  .testimonials-slider.slick-slider .testimonial-slide {
    height: 34rem;
    padding: 4rem;
  }
}
.testimonials-slider.slick-slider .testimonial-slide .quote-icon-container {
  margin-bottom: 1.5rem;
  width: 4rem;
}
.testimonials-slider.slick-slider .testimonial-slide .quote-icon-container img {
  object-fit: cover;
  width: 100%;
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-header {
  margin-bottom: 1.5rem;
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-header .testimonial-author {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.5rem);
  font-weight: 600;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
  text-transform: uppercase;
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-header .testimonial-company {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
  font-size: 0.85rem;
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-body {
  font-style: italic;
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-body-mobile {
  display: block;
}
@media (min-width: 768px) {
  .testimonials-slider.slick-slider .testimonial-slide .testimonial-body-mobile {
    display: none;
  }
}
.testimonials-slider.slick-slider .testimonial-slide .testimonial-body-full {
  display: none;
}
@media (min-width: 768px) {
  .testimonials-slider.slick-slider .testimonial-slide .testimonial-body-full {
    display: block;
  }
}
.testimonials-slider.slick-slider .slick-dots {
  bottom: -50px;
  display: flex;
  gap: clamp(0.031rem, 0.004rem + 0.074vw, 0.063rem);
  justify-content: center;
  list-style: none;
  position: absolute;
}
.testimonials-slider.slick-slider .slick-dots li {
  background-color: rgba(49, 46, 43, 0.75);
  border-radius: 0.75rem;
  height: 10px;
  transition: all 300ms ease-in-out;
  width: clamp(1.25rem, 0.423rem + 2.206vw, 2.188rem);
}
.testimonials-slider.slick-slider .slick-dots li.slick-active {
  background-color: #312e2b;
  width: 60px;
}
.testimonials-slider.slick-slider .slick-dots li button::before {
  content: "";
}

.company-overview-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 2rem;
}
@media (min-width: 568px) {
  .company-overview-grid {
    gap: 5rem;
  }
}
@media (min-width: 768px) {
  .company-overview-grid {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .company-overview-grid {
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
  }
}
.company-overview-grid .company-overview-body .company-overview-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
}
.company-overview-grid .company-overview-image img {
  border-radius: 0.75rem;
  object-fit: cover;
  width: 100%;
}

.img-slide {
  height: 50vh;
}
@media (min-width: 768px) {
  .img-slide {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .img-slide {
    height: 75vh;
  }
}

.mission-statement {
  margin-bottom: 2rem;
}

.featured-projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
@media (min-width: 568px) {
  .featured-projects-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.featured-projects-container .featured-project .thumbnail-image-container {
  margin-bottom: 1.5rem;
  width: 100%;
}
.featured-projects-container .featured-project .thumbnail-image-container img {
  border-radius: 0.75rem;
  object-fit: cover;
  width: 100%;
}
.featured-projects-container .featured-project h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
  font-weight: 500;
  line-height: clamp(1.75rem, 0.876rem + 1.718vw, 2.25rem);
  margin-bottom: 0.5rem;
}
.featured-projects-container .featured-project p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1.25px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
